@model IEnumerable<MVC_Site_2.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<form method="get" class="form-check-inline">
    <div class="form-group">
        <input type="search" name="searchTerm" class="form-control"/>
    </div>
    <div class="radio">
        <label><input type="radio" name="searchCriteria" value="Name" checked/>Name</label>
        <label><input type="radio" name="searchCriteria" value="City"/>City</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="alpha" value="Ascending" checked/>In alphabetical order</label>
        <label><input type="radio" name="alpha" value="Descending"/>In revers alphabetical order</label>
    </div>
        <input type="submit" value="Search by name"  class="btn btn-default"/>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>

@using (Html.BeginForm("Create", "Person"))
{
    <form>
        <div class="form-group">
            <label for="n">Name:</label>
            <input type="text" name="nameIn" value="" id="n" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="pN">Phone Number</label>
            <input type="text" name="phoneNumberIn" value="" id="pN" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="c">City</label>
            <input type="text" name="cityIn" value="" id="c" class="form-control"/>
        </div>
        <input type="submit" value="Create new player" class="btn btn-default"/>

    </form>
}
